################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ServerlessOH/obj/Debug
/ServerlessOH/bin/Debug/staging/ServerlessOH
